{
    auto_https off
    admin off
}

:3000 {
    @noauth {
        path /api/platform/profile
    }
    respond @noauth `{"disabled":false}` 200

    basicauth {
        {$STUDIO_USERNAME:admin} {$STUDIO_PASSWORD_HASH:$2b$14$uWXyevN6Gn9fldzBLb.ty.SN4.aWp8blmrKeIosUvQaCji8rlft6q}
    }

    reverse_proxy localhost:3001
}
